body {
  background: #141414;
}

.navbar {
  background: #141414;
  padding: 0;
  /* height: 0px; */
  margin-top: 20px;
}

.container__navbar {
  /* background: #141414; */
  margin-left: 10px;
}

.logo__netflix img {
  width: 100px;
  height: 50px;
}

.nav-item > a {
  color: rgb(189, 187, 187);
}

.nav-item > a:hover {
  color: white;
}

.setting__nav {
  /* background: #141414; */
  gap: 10px;
  /* padding-right: 35px; */
}

.setting__nav ion-icon {
  color: white;
  width: 40px;
  height: 20px;
}

.setting__nav a {
  color: rgb(189, 187, 187);
  text-decoration: none;
  font-size: 13px;
}

.setting__nav img {
  width: 30px;
  height: 30px;
}

.button__user {
  background: #141414;
  border: none;
}

.navbar-toggler ion-icon {
  width: 30px;
  height: 30px;
  color: gray;
  margin-right: 15px;
}

/* !BANNER */

.banner {
  /* height: 800px; */
}

.banner__title {
  width: 40%;
  height: auto;
  /* top: 150px; */
  left: 40px;
  color: white;
  border-radius: 5px;
  padding-inline: 10px;
}

.banner__title img {
  width: 50%;
}

.banner__title h1 {
  font-size: 100px;
}

/* !TITLE */

.container__title {
  margin-top: 60px;
}

.title__show {
  color: white;
  /* margin-top: 5%; */
  margin-inline: 20px;
  gap: 40px;
  /* z-index: 2; */
}

.button__genres {
  background: black;
  border-radius: 0;
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.genres__menu {
  background: #000000;
}

.genres__menu a {
  color: white;
}

.menu__icon {
  /* margin-top: 5%; */
  width: 95px;
  height: 30px;
  margin-right: 10px;
}

.menu,
.grid {
  width: 40px;
  height: 27px;
  border: 2px solid gray;
}

.menu {
  border-right: 0px;
}

.menu,
.grid ion-icon {
  color: rgb(183, 181, 181);
}

/* !ALL SECTION */

.first__sectionTitle,
.second__sectionTitle,
.third__sectionTitle,
.fourth__sectionTitle {
  margin-left: 20px;
  margin-top: 30px;
}

.first__sectionTitle,
.second__sectionTitle,
.third__sectionTitle,
.fourth__sectionTitle,
.scroll__sectionTitle h5 {
  color: white;
}

.scroll__sectionTitle h5 {
  margin-left: 20px;
}

.first__cards,
.second__cards,
.third__cards,
.fourth__cards {
  margin-top: 10px;
}

#carousel__scrollCard {
  margin-top: 25px;
}

.first__cards,
.second__cards,
.third__cards,
.fourth__cards img {
  cursor: pointer;
  object-fit: cover;
}

.carousel__container {
  margin-left: 20px;
}

.img__film {
  max-width: 235px;
  min-width: 150px;
}

.container__card .film__card:nth-of-type(1),
.film__card:nth-of-type(2) {
  z-index: 5;
}

.container__card .film__card:nth-of-type(3),
.film__card:nth-of-type(4) {
  z-index: 4;
}

.container__card .film__card:nth-of-type(5),
.film__card:nth-of-type(6) {
  z-index: 3;
}

/* !SCROLL CARDS */

/* #carousel__fourthCard {
  position: relative;
  left: -2000px;
  transition: linear 0.5s;
  margin-block: 20px;
}

#carousel__scrollCard {
  position: relative;
  left: -2000px;
  transition: linear 0.5s;
  margin-block: 20px;
} */

/* !SCROLL CARDS 2 */

.carousel {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1.5s ease;
}

/* !FOOTER LOGO */

/* .social__logo {
    margin-left: 20%;
    margin-top: 100px;
    gap: 15px;
    padding-right: 200px;
} */

.footer__link {
  margin-top: 15%;
  margin-left: 0;
}

.icon__footer ion-icon {
  width: 30px;
  height: 30px;
  color: rgb(172, 170, 170);
  margin-bottom: 15px;
}

.link__endPage p {
  color: rgb(172, 170, 170);
  font-size: small;
}

.link__endPage {
  max-width: 200px;

  min-width: 180px;
  margin-bottom: 20px;
}

.button__footer button {
  background: none;
  border: 1px solid rgb(172, 170, 170);
  color: rgb(172, 170, 170);
  height: 35px;
}

.copyright {
  margin-top: 10px;
}

.copyright p {
  color: rgb(172, 170, 170);
  font-size: small;
}

.flex-column {
  margin-left: 17%;
}

/* !PROVA CARD */

.film__card img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.film__card {
  min-width: 150px;
  max-width: 230px;
  border: 1px solid gray;
  padding: 0;
  height: auto;
}

.film__card h6,
p {
  color: white;
}

.container__card {
  width: 100%;
  margin-left: 3px;
}

/* !CARD */

.space {
  margin-left: 30px;
}

.text__card button {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 5px;
  margin-left: 80%;
}

.text__card ion-icon {
  color: rgb(255, 255, 255);
}

.text__card {
  display: none;
  padding-left: 10px;
  background-color: #000000;
  position: absolute;
  top: 100%;
  width: 100%;
}

.film__card .text__card {
  transition: 0.3s linear;
  /* height: 0; */
  padding-block: 0;
}

.film__card {
  position: relative;
  transition: all 0.3s;
  background-color: #141414;
}

.film__card:hover {
  transform: scale(1.05);
}

.film__card:hover .text__card {
  display: block;
  transform: scale(1.05);
  height: 150px;
  z-index: 2;
}

#carousel__firstCards {
  z-index: 5;
}

#carousel__secondCards {
  z-index: 4;
}

#carousel__thirdCards {
  z-index: 3;
}

#carousel__fourth {
  z-index: 2;
}

#carousel__scroll {
  z-index: 1;
}
